.category-tile {
  height: 59px;
  background-size: cover;
  background-position: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2rem;
  /* margin-bottom: 5rem; */
  border-radius: 250px;
  background-color: #ffbe0b;
}

.card {
  border: none !important;
  /* width: 15rem !important; */
  border-radius: 20px;
  background-color: #ffbe0b;
}

img.card-img-top.product-preview-img {
  border-radius: 10px;
}

.category-tile:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
}

.sale__banner--container img {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
}

.mt-5 {
  margin-bottom: 50px;
}

.mt-4 h2 {
  color: white;
  margin-top: 1rem;
}

.latest {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app {
  background-color: black;
}

.bg-warn {
  background-color: white !important;
  background-color: rgba(255, 193, 7, var(--bs-bg-opacity));
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
}
.mt-2 {
  justify-content: center;
}

.btn {
  width: 70%;
  align-self: center;
}
